Bem-vindo ao Tigra!
<div style="font-family:Arial,Verdana,Tahoma,Helvetica; font-size:1em">
    <p><a href="{SetupLink}" target="_blank"><img src="{LogoUrl}" alt="Tigra" /></a></p>
    <p>Olá, seja bem-vindo ao Tigra! Obrigado por se registrar.</p>
    <p>Esta é uma mensagem automática para confirmar o seu endereço de e-mail e autorizar o seu acesso ao sistema. Por favor clique no link abaixo para ativar sua conta:</p>
    <p style="text-indent:1em"><a href="{ConfirmAccountCreationLink}" target="_blank">{ConfirmAccountCreationLink}</a></p>
    <p>Caso o registro não tenha sido realizado por você ou você desconheça a origem desta mensagem, nós pedimos desculpas e que por favor desconsidere este email.</p>
    <p>Obrigado!</p>
    <p>
        Equipe Tigra<br />
        <a href="{SetupLink}" target="_blank">{SetupLink}</a>
    </p>
</div>