Redefinição de senha
<div style="font-family:Arial,Verdana,Tahoma,Helvetica; font-size:1em">
    <p><a href="{SetupLink}" target="_blank"><img src="{LogoUrl}" alt="Tigra" /></a></p>
    <p>Olá,</p>
    <p>Recebemos uma solicitação de redefinição de senha do IP {IP} no dia {Data} às {Hora}.</p>
    <p>Para redefinir a sua senha, por favor clique no link abaixo, que é válido por 1 hora a partir do horário acima.</p>
    <p style="text-indent:1em"><a href="{TokenLink}" target="_blank">{TokenLink}</a></p>
    <p>Caso esta solicitação não tenha sido realizada por você ou você desconheça a origem desta mensagem, nós pedimos desculpas e que por favor desconsidere este email.</p>
    <p>Obrigado!</p>
    <p>
        Equipe Tigra<br />
        <a href="{SetupLink}" target="_blank">{SetupLink}</a>
    </p>
</div>