body {
  font-family: Calibri Light;
  font-size: 1em;
  color: #000;
  background: #fff; }

body > header {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  background: #222222 url(../imagens/bg1.jpg) top left; }
  body > header figure#logo, body > header nav > ul > li {
    float: left;
    margin: 1em 0.5em;
    height: 72px;
    line-height: 72px; }
    @media screen and (min-width: 1366px) {
      body > header figure#logo, body > header nav > ul > li {
        margin-left: 1em; } }
    body > header figure#logo img, body > header nav > ul > li img {
      margin-top: 5px; }
  body > header figure#logo {
    margin-left: 1em;
    margin-right: 1em; }
    @media screen and (min-width: 1366px) {
      body > header figure#logo {
        margin-left: 3em; } }
  body > header nav {
    margin-right: 1em; }
    body > header nav ul li {
      background: #e04b2d;
      cursor: pointer;
      opacity: 0.90; }
      body > header nav ul li a {
        padding: 0 1.5em;
        text-decoration: none;
        color: #000; }
        body > header nav ul li a img {
          margin-top: 12px; }
        body > header nav ul li a span {
          display: none; }
      body > header nav ul li:hover {
        background: #f03008; }
        body > header nav ul li:hover a {
          color: white; }
    body > header nav ul#usuario {
      float: right; }

body > article {
  display: inline-block;
  margin: 1em 0;
  width: 100%; }
  body > article section {
    float: left;
    display: inline-block;
    margin-left: 1em;
    border-top: 1px solid #ea8470;
    border-bottom: 1px solid #ea8470; }
    body > article section:first-of-type {
      margin-left: 1em; }
    body > article section:last-of-type {
      margin-right: 1em; }
    body > article section header {
      margin-bottom: 0.5em;
      padding: 1em;
      background: #f4bdb2;
      border-bottom: 1px solid #ea8470;
      font-family: Cambria;
      font-size: 1.2em;
      font-weight: bold;
      color: #d72b07;
      text-align: center; }
    body > article section p {
      line-height: 1.2em;
      text-indent: 3em;
      margin-bottom: 1em;
      padding: 0 1em;
      text-align: justify; }
    body > article section h2 {
      margin-bottom: 0.5em;
      font-family: Cambria;
      font-size: 1.1em;
      color: #f03008;
      text-align: center; }
    body > article section figure {
      text-align: center; }
      body > article section figure img {
        margin-bottom: 1em; }
    body > article section ul.issues {
      padding: 0 1em;
      margin-bottom: 1em; }
      body > article section ul.issues li {
        line-height: 1.5em;
        margin-bottom: 5px; }
        body > article section ul.issues li a {
          margin-right: 5px;
          padding: 3px 5px;
          border-radius: 10px;
          background-color: #fdd0c7;
          color: #f03008;
          text-decoration: none;
          font-weight: bold; }
        body > article section ul.issues li.pedido.novo a {
          background-color: #d9cb96;
          color: #77682c; }
        body > article section ul.issues li.pedido.andamento a {
          background-color: #568ce7;
          color: #0e2e63; }
        body > article section ul.issues li.pedido.concluido a {
          background-color: #43ee47;
          color: #085d0a; }
        body > article section ul.issues li.pedido.versao-disponivel a {
          background-color: #a5daa7;
          color: #347f36; }
        body > article section ul.issues li.pedido.cancelado a {
          background-color: #d6d6d6;
          color: #707070; }
        body > article section ul.issues li.mantis.novo a {
          background-color: #d9cb96;
          color: #77682c; }
        body > article section ul.issues li.mantis.atribuido a {
          background-color: #568ce7;
          color: #0e2e63; }
        body > article section ul.issues li.mantis.retorno-dsv a {
          background-color: #f2d769;
          color: #846c0b; }
        body > article section ul.issues li.mantis.retorno-sup a {
          background-color: #86d4f1;
          color: #11759a; }
        body > article section ul.issues li.mantis.implementado a {
          background-color: #43ee47;
          color: #085d0a; }
        body > article section ul.issues li.mantis.testar a {
          background-color: #a5daa7;
          color: #347f36; }
        body > article section ul.issues li.mantis.fechado a {
          background-color: #d6d6d6;
          color: #707070; }
  @media screen and (min-width: 1366px) {
    body > article {
      margin: 2em 0; }
      body > article section {
        margin-left: 2em; }
        body > article section:first-of-type {
          margin-left: 2em; }
        body > article section:last-of-type {
          margin-right: 2em; } }
  body > article.layout-111-col section:first-of-type, body > article.layout-12-col section:first-of-type, body > article.layout-21-col section:first-of-type {
    float: left; }
  body > article.layout-111-col section:last-of-type, body > article.layout-12-col section:last-of-type, body > article.layout-21-col section:last-of-type {
    float: right; }
  body > article.layout-111-col section {
    width: 31.6%; }
  body > article.layout-12-col section:first-of-type {
    width: 31%; }
  body > article.layout-12-col section:last-of-type {
    width: 65%; }
  body > article.layout-21-col section:first-of-type {
    width: 65%; }
  body > article.layout-21-col section:last-of-type {
    width: 31%; }
  body > article.layout-3-col section {
    width: 97.5%; }

