body {
	overflow-y: scroll;
}

div#loading {
	background: #000 url(../Content/loading.gif) no-repeat center;
	display: none;
	opacity: 0.50;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1035;
}

div.container > dl.dl-horizontal > dt {
	margin-bottom: 10px;
}

ins {
    background-color: #cfc;
    text-decoration: none;
}

del {
    color: #999;
    background-color: #FEC8C8;
}
