@if (User.Identity.IsAuthenticated) {
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" accesskey="A" data-toggle="dropdown"><b class="glyphicon glyphicon-wrench"></b> &nbsp; Administração <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="#">Células</a></li>
				<li><a href="#">Equipes</a></li>
				<li><a href="#">Padrões</a></li>
				<li><a href="#">Preferências</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" accesskey="P" data-toggle="dropdown"><b class="glyphicon glyphicon-user"></b> &nbsp; @User.Identity.Name <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="@Url.Content("~/Account/MyProfile")" data-tigra="modal">Meu Perfil</a></li>
				<li><a href="#">Alterar Senha</a></li>
				<li class="divider"></li>
				<li>@Html.ActionLink("Sair", "Logout", "Account")</li>
			</ul>
		</li>
	</ul>
} else {
	<ul class="nav navbar-nav navbar-right">
		<li id="login-menu" class="dropdown">
			<a href="#" class="dropdown-toggle" accesskey="N" data-toggle="dropdown"><b class="glyphicon glyphicon-log-in"></b> &nbsp; Entrar <b class="caret"></b></a>
			<div class="dropdown-menu" style="width:300px; padding:15px">
				<form class="form-signin">
					<div class="input-group">
						<span class="input-group-addon"><b class="glyphicon glyphicon-user"></b></span>
						<input name="email" id="email" type="email" class="form-control" placeholder="Endereço de email" maxlength="80" autofocus>
					</div>
					<div class="input-group">
						<span class="input-group-addon"><b class="glyphicon glyphicon-lock"></b></span>
						<input name="password" id="password" type="password" class="form-control" maxlength="32" placeholder="Senha">
					</div>
					<label class="checkbox">
						<input name="remember-me" id="remember-me" accesskey="L" type="checkbox" value="remember-me"> Lembre-se de mim
					</label>
					<button class="btn btn-lg btn-primary btn-block" type="button" data-action="Login">Entrar</button>
					<button class="btn btn-lg btn-info btn-block" type="button" data-action="Register">Registrar</button>
				</form>
			</div>
		</li>
	</ul>
}