@using BootstrapSupport
@model Object

@Html.Partial("ObjectDetails", Model)
<p>
    @Html.ActionLink("Retornar à listagem", "Index", null, new { @class = "btn btn-lg btn-primary" })
    @Html.ActionLink("Editar", "Edit", new { @id = Model.GetId() }, new { @class = "btn btn-lg btn-default" })
</p>
