@using BootstrapSupport
@model System.Collections.IEnumerable

@{
    ViewBag.Title = @Model.GetLabel();
}

<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            @foreach (var property in Model.VisibleProperties())
            {
                <th>
                    @property.GetLabel()
                </th>
            }
            <th></th>
        </tr>
    </thead>
    @{ int index = 0; }
    @foreach (var model in Model)
    {
        ViewData[index.ToString()] = model;
        <tr>
            @foreach (var property in model.VisibleProperties())
            {
                <td>
                    @Html.Display(index + "." + property.Name)
                </td>                    
            }
            <td>
                @Html.ActionLink("Gerenciar", "Manage", new { @id = model.GetId() }, new { @class = "btn btn-default" })
            </td>
        </tr>
            index++;
    }

</table>

