@using BootstrapSupport
@model Tigra.Models.BaselineDetailsModel

<p><strong>Data:</strong> @Html.DisplayFor(Model => Model.SetDate)</p>
<p><strong>Título:</strong> @Html.DisplayFor(Model => Model.Descricao)</p>

@Html.DisplayFor(Model => Model.Requisitos)

<p>
    @Html.ActionLink("Retornar à listagem", "Index", null, new { @class = "btn btn-lg btn-primary" })
</p>
