@using BootstrapSupport
@model Tigra.Models.MyProfileModel

@{
	Layout = null;
}

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Meu Perfil</h4>
</div>
<div class="modal-body">
	<p>Preencha o seu perfil para que seus colegas saibam um pouco mais sobre você!</p>

	<div class="row">
		<div class="col-sm-4">
			<p>
				<label class="control-label">Foto de perfil:</label>
				<img src="@Url.Content("~/Scripts/holder.js/160x200")" class="img-thumbnail" alt="Foto de perfil.">
			</p>
			<button class="btn btn-primary btn-block" style="width:160px" type="button" data-action="UploadPicture">Alterar</button>
			<button class="btn btn-danger btn-block" style="width:160px" type="button" data-action="RemovePicture">Remover</button>
		</div>
		<div class="col-sm-8">
			@foreach (var property in Model.VisibleProperties())
			{
				using(Html.ControlGroupFor(property.Name))
				{
					@Html.Label(property.GetLabel() + ":", new { @class = "control-label" })
					<div class="controls">
						@Html.Editor(property.Name, new { @placeholder = property.GetDescription(), @autofocus = property.GetAutoFocus() })
						@Html.ValidationMessage(property.Name, null, new { @class = "help-inline" })
					</div>
				}
			}
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
	<button type="button" class="btn btn-primary" data-action="SaveProfile">Salvar</button>
</div>

<script type="text/javascript">
	$('button[data-action!=""]').click(function () {
		var $action = $(this).data('action');

		if ($action == "SaveProfile") {
			/* Make post URI and get login data. */
			var $b = $('input[data-field="BirthDate"]').val().split('/');
			var $d = new Date().getTimezoneOffset();
			var $birthdate = new Date(Date.UTC($b[2], $b[1] - 1, $b[0], ($d / 60), ($d % 60), 0));

			var $uri = $('body').data('api') + $action;
			var $data = JSON.stringify({
				"FullName": $('input[data-field="FullName"]').val(),
				"BirthDate": $birthdate,
				"UserTheme": $('select[data-field=UserTheme]').val(),
				"Location": $('input[data-field="Location"]').val(),
				"Biography": $('textarea[data-field="Biography"]').val()
			});
			console.log($uri);
			console.log($data);

			/* Post login data. */
			$.ajax({
				url: $uri,
				type: 'POST',
				dataType: 'json',
				data: $data,
				contentType: 'application/json; charset=utf-8',
				complete: function (x, y, z) {
					switch (x.status) {
						case 200:
							$('#LoggedUserName').html($('input[data-field="FullName"]').val());
							$('button[data-dismiss="modal"]').click();

							var $oldtheme = $('select[data-field=UserTheme] > option[selected=selected]');
							var $newtheme = $('select[data-field=UserTheme]').val() ;
							if ($oldtheme.length != 1 || ($oldtheme.length == 1 && $oldtheme.attr('value') != $newtheme)) {
							    locatio.reload();
							}

							break;

						case 500:
							alert('Erro no servidor!');
							break;

						default:
							alert('Erro inesperado (código ' + x.status + ')!');
							break;
					}
				}
			});
		}
	});
</script>