@using BootstrapSupport
@model Tigra.Models.RateTopicModel

@{
    ViewBag.VerticalDisplay = true;

    string uri = Request.Url.AbsoluteUri;
    int idx = uri.IndexOf("/Revision");
    uri = uri.Substring(0, idx + "/Revision".Length);
    ViewBag.OverrideCancelButton = String.Format("<a href=\"{0}\" class=\"btn btn-lg btn-default\">Cancelar</a>", uri);
}

<div class="row">
    <div class="col-md-6">
        <h2>Tópico Avaliado</h2>
        @Html.Partial("ObjectDetails", Model.Topic)
    </div>
    <div class="col-md-6">
        <h2>Avaliação</h2>
        @Html.Partial("Create", Model.Rating)
    </div>
</div>