@{
    ViewBag.Title = "Início";
}

@section head {
    <link rel="stylesheet" href="@Url.Content("~/Content/carousel.css")" />
}

@section Jumbotron {
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Tigra</h1>
                        <p>Engenharia de requisitos descomplicada. Afinal, você não tem tempo a perder.</p>
                        <p>&nbsp;<br/>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Elicitação de requisitos</h1>
                        <p>Desde o princípio do processo o Tigra te dá a maior força. O módulo de histórias permite interagir com o cliente para entrar em um acordo sobre a sua necessidade.</p>
                        <p>&nbsp;<br />&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Análise de requisitos</h1>
                        <p>Controle total sobre o processo de análise de requistos de todos os seus projetos.</p>
                        <p>&nbsp;<br />&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
}

<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="@Url.Content("~/Content/ico1.png")" alt="Elicitação">
            <h2>Elicitação</h2>
            <p>Documente e acompanhe o entendimendo da necessidade de seus clientes através do módulo de histórias. Pois somente compreendendo o domínio do problema você saberá como tratá-lo com eficiência.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="@Url.Content("~/Content/ico2.png")" alt="Análise">
            <h2>Análise</h2>
            <p>Documente detalhadamente os requisitos que serão implementados para atender a necessidade do cliente. Os requisitos serão avaliados pelo dono do produto para assegurar a qualidade da documentação.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="@Url.Content("~/Content/ico3.png")" alt="Histórico">
            <h2>Histórico</h2>
            <p>Armazene o histórico de revisões de todas as histórias e requisitos. Compare o que mudou. Saiba em qual versão um requisito foi implementado.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

</div>