@using BootstrapSupport
@model System.Collections.Generic.List<Tigra.Models.ExistingRequirementsModel>

@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Utilizar requisito existente</h4>
</div>
<div class="modal-body">
    <p>Selecione abaixo o requisito que deseja vincular a esta história:</p>

    @if (Model == null || Model.Count() == 0) {
    @:Nenhum requisito implementado.
    }
    else
    {
		<div class="list-group" id="requirements">
			@foreach (var m in Model) {
				<a href="#" onclick="return false;" class="list-group-item">
					<p class="list-group-item-heading"><strong>@Html.Raw(m.Title)</strong></p>
					<p class="list-group-item-text">@Html.Raw(m.Descricao)</p>
				</a>
			}
		</div>
    }

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="button" class="btn btn-primary" data-action="SelectRequirement">Selecionar Requisito</button>
</div>

<script type="text/javascript">
    $('div#requirements > a').click(function () {
        $(this).parent().find('a').removeClass('active');
        $(this).addClass('active');
    });

    $('button[data-action!=""]').click(function () {
        var $action = $(this).data('action');

        if ($action == "SelectRequirement") {
            if ($('div#requirements > a.active').length == 1) {
                //
            }
            else {
                alert('Selecione o requisito a ser alterado!');
            }
        }
    });
</script>